In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [42]:
data=pd.read_csv('anime.csv')
data.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [55]:
data.tail()

,anime_id,name,genre,type,episodes,rating,members
11104,34522,"Wake Up, Girls! Shin Shou","Drama, Music",TV,Unknown,NaN,381
11106,34467,Yami Shibai 4th Season,"Dementia, Horror, Supernatural",TV,Unknown,NaN,1838
11107,32615,Youjo Senki,"Magic, Military",TV,Unknown,NaN,6652
11110,34284,Yuuki Yuuna wa Yuusha de Aru: Washio Sumi no Shou,"Drama, Fantasy, Magic, Slice of Life",TV,6,NaN,2593
11111,34445,Yuuki Yuuna wa Yuusha de Aru: Yuusha no Shou,"Drama, Fantasy, Magic, Slice of Life",TV,6,NaN,4439

In [43]:
rating=pd.read_csv('rating.csv')
rating.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [19]:
data.describe()

           anime_id        rating       members
count  12294.000000  12064.000000  1.229400e+04
mean   14058.221653      6.473902  1.807134e+04
std    11455.294701      1.026746  5.482068e+04
min        1.000000      1.670000  5.000000e+00
25%     3484.250000      5.880000  2.250000e+02
50%    10260.500000      6.570000  1.550000e+03
75%    24794.500000      7.180000  9.437000e+03
max    34527.000000     10.000000  1.013917e+06

In [20]:
missing_val=data.isna().sum()
missing_val

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

In [21]:
data.genre.value_counts()

Hentai                                                                         823
Comedy                                                                         523
Music                                                                          301
Kids                                                                           199
Comedy, Slice of Life                                                          179
                                                                              ...
Action, Adventure, Comedy, Fantasy, Magic, Sci-Fi, Shounen, Super Power          1
Adventure, Comedy, Mecha, Romance                                                1
Action, Comedy, Ecchi, Fantasy, Harem, Magic, Romance, School, Supernatural      1
School, Slice of Life, Supernatural                                              1
Action, Drama, Yaoi                                                              1
Name: genre, Length: 3264, dtype: int64

In [31]:
data['genre'].fillna('Hentai',inplace=True)

In [32]:
data['type'].value_counts()

TV         3812
OVA        3311
Movie      2348
Special    1676
ONA         659
Music       488
Name: type, dtype: int64

In [33]:
data['type'].fillna('TV',inplace=True)

In [34]:
data.rating.value_counts()

6.00    371
7.00     99
6.50     90
6.25     84
5.00     76
       ...
3.71      1
3.91      1
2.93      1
2.86      1
9.04      1
Name: rating, Length: 598, dtype: int64

In [35]:
data.rating.fillna(6.00, inplace=True)

In [36]:
missing_val=data.isna().sum()
missing_val

anime_id    0
name        0
genre       0
type        0
episodes    0
rating      0
members     0
dtype: int64

In [39]:
data=data[~np.isnan(data["rating"])]
data['genre'] = data['genre'].fillna(data['genre'].dropna().mode().values[0])
data['type'] = data['type'].fillna(
data['type'].dropna().mode().values[0])

In [49]:
data = data[data['type']=='TV']
rated_movies = rating.merge(data, left_on = 'anime_id', right_on = 'anime_id', suffixes= ['_user', ''])
rated_movies =rated_movies[['user_id', 'name', 'rating']]
rated_movies_all= rated_movies[rated_movies.user_id <= 8000]
rated_movies_all.head()

   user_id    name  rating
0        1  Naruto    7.81
1        3  Naruto    7.81
2        5  Naruto    7.81
3        6  Naruto    7.81
4       10  Naruto    7.81

In [51]:
pivot = rated_movies_all.pivot_table(index=['user_id'], columns=['name'], values='rating')
pivot.head()

name,.hack//Roots,.hack//Sign,.hack//Tasogare no Udewa Densetsu,009-1,07-Ghost,11eyes,12-sai.: Chicchana Mune no Tokimeki,3 Choume no Tama: Uchi no Tama Shirimasenka?,30-sai no Hoken Taiiku,91 Days,...,"Zone of the Enders: Dolores, I",Zukkoke Knight: Don De La Mancha,ef: A Tale of Melodies.,ef: A Tale of Memories.,gdgd Fairies,gdgd Fairies 2,iDOLM@STER Xenoglossia,s.CRY.ed,xxxHOLiC,xxxHOLiC Kei
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,6.49,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.11,NaN

In [52]:
import scipy as sp
pivot_n = pivot.apply(lambda x: (x-np.mean(x))/(np.max(x)-np.min(x)), axis=1)

pivot_n.fillna(0, inplace=True)

pivot_n = pivot_n.T

pivot_n = pivot_n.loc[:, (pivot_n != 0).any(axis=0)]

piv_sparse = sp.sparse.csr_matrix(pivot_n.values)

In [53]:
from sklearn.metrics.pairwise import cosine_similarity
anime_similarity = cosine_similarity(piv_sparse)

ani_sim_df = pd.DataFrame(anime_similarity, index = pivot_n.index, columns = pivot_n.index)

In [54]:
def anime_recommendation(ani_name):
    number = 1
    print('Recommended because you watched {}:\n'.format(ani_name))
    for anime in ani_sim_df.sort_values(by = ani_name, ascending = False).index[1:6]:
        print(f'#{number}: {anime}, {round(ani_sim_df[anime][ani_name]*100,2)}% match')
        number +=1

In [61]:
anime_recommendation('07-Ghost')

Recommended because you watched 07-Ghost:

#1: Nabari no Ou, 22.23% match
#2: Uragiri wa Boku no Namae wo Shitteiru, 20.33% match
#3: Zombie-Loan, 18.37% match
#4: Togainu no Chi, 18.08% match
#5: Vampire Knight, 17.9% match

In [62]:
anime_recommendation('11eyes')

Recommended because you watched 11eyes:

#1: Kämpfer, 30.29% match
#2: Princess Lover!, 27.85% match
#3: Ichiban Ushiro no Daimaou, 27.42% match
#4: Asura Cryin&#039;, 27.37% match
#5: Dragon Crisis!, 27.21% match

In [64]:
anime_recommendation('91 Days')

Recommended because you watched 91 Days:

#1: Nejimaki Seirei Senki: Tenkyou no Alderamin, 40.59% match
#2: New Game!, 35.91% match
#3: Gate: Jieitai Kanochi nite, Kaku Tatakaeri 2nd Season, 30.81% match
#4: Mob Psycho 100, 29.73% match
#5: Shokugeki no Souma: Ni no Sara, 29.14% match